nav.main-menu a{
    color: rgba(58,59,89,.9);
    font-weight: 600;
    padding-bottom: 9px;
}
nav.main-menu a:hover{
    padding-bottom: 0px;
    transition: 0s;
}
nav.main-menu a:hover::after{
    content: '';
    display: block;
    width: 9px;
    height: 9px;
    margin: 0 auto;
    border: 0px solid red;
    border-radius: 50%;
    background: #eb9426;
}

/* hamburger button */

.hamburger {
    order: 5;
    display: none;
    outline: none;
    line-height: 50px;
    position: relative;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    overflow: visible;
    margin: 0;
    padding: 15px;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity,filter,-webkit-filter;
    text-transform: none;
    color: inherit;
    background-color: transparent;
}
span.hamburger-inner,
span.hamburger-inner::before,
span.hamburger-inner::after {
    position: absolute;
    top: 50%; margin-top: -1.5px;
    left: 50%; margin-left: -17px;
    height: 3px;
    width: 34px;
    background-color: #2d2e4d;
    border-radius: 15px;
}

span.hamburger-inner::before,
span.hamburger-inner::after {
    content: '';
    transition: 0.2s;
}
span.hamburger-inner::before {
    transform: translateY(-10px);
}
span.hamburger-inner::after {
    transform: translateY(10px);
}

.menu-btn-active span {
    height: 0;
}
.menu-btn-active span:before {
    transform: rotate(-45deg);
}
.menu-btn-active span:after {
    transform: rotate(45deg);
}



@media only screen and (max-width: 1200px){
    div.navbar {
        display: none;
        position: absolute;
        right: 0;
        top: 120px;
        border: 1px solid #e0e0e0;
        border-radius: 16px;
        padding: 0 16px;
        box-shadow: 0 1px 8px rgba(45,46,77,.2);
        background: #fff;
        width: 200px;
    }
    nav.main-menu > a{
        display: block;
        width: 170px;
        padding: 8px 24px;
        border-bottom: 1px solid #e0e0e0;
        line-height: 2.2;
    }
    nav.main-menu a:hover::after{
        display: inline-block;
        margin-top: 12px;
        float: right;
    }
    nav.main-menu a:hover {
        padding-bottom: 8px;
    }
    div.menu-btn-active {
        display: block
    }
}
